@model ML.Cine
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2> Cine</h2>
    </div>
    <hr />
    <div class="row">
        <div style="float:right">

            @Html.ActionLink("Agrega Cine", "Form", "Cine", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>
    <div class="row">
        @if (Model.Cines != null)
        {
            //tabla
            <table class="table table.borderes table.responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>
                        <td class="text-center" style=" font-weight:bold;">Latitud</td>
                        <td class="text-center" style=" font-weight:bold;">Longitud</td>
                        <td class="text-center" style=" font-weight:bold;"> Direccion</td>
                        <td class="text-center" style=" font-weight:bold;"> Venta</td>
                        <td class="text-center" style=" font-weight:bold;"> Zona</td>
                        <td class="text-center" style=" font-weight:bold;">Eliminar</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Cine cine in Model.Cines)
                    {
                        <tr>
                            <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Cine", new { IdCine = cine.IdCine})"> <i class="bi bi-pencil-square"></i> </a></td>
                            <td>@cine.Latitud</td>
                            <td>@cine.Longitud</td>
                            <td>@cine.Direccion</td>
                            <td>@cine.Venta</td>
                            <td>@cine.Zona.Nombre</td>
                            <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Cine", new { IdCine = cine.IdCine})" onclick="return confirm('¿Desea eliminar el cine?');"><i class="bi bi-trash3-fill"></i> </a></td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
        }
    </div>
</div>


